/*$theme-colors: (*/
/*"primary": #197BBD,*/
/*"dark": #252422,*/
/*"light": #FFFCF2,*/
/*"secondary": #403D39,*/
/*"info": #d67600,*/
/*);*/

body {
    width: 100vw !important;
    font-family: 'Alata', sans-serif !important;
    font-size: large !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Libre Baskerville', serif;
}
h1 {
    font-size: x-large;
}
h2 {
    font-size: larger;
}
h3 {
    font-size: large;
}

#headerLogo {
    height: 10vh;
    min-height: 4em;
}
#johnPicture {
    max-width: 70%;
}
#contactForm {
    display: block;
    margin: auto !important;
    height: 75vh;
    border-radius: 2em;
    border: solid 1em #197BBD;
}
#contactMessage {
    display: block;
    margin: auto !important;
}
.mainBg {
  height: 85vh;
}
.systemMessage {
    background: #d67600;
    border-radius: 1em;
}
.userMessage {
    background: #197BBD;
    border-radius: 1em;
}
.loadingDots > span{
    width:1rem;
    height:1rem;
    background-color: #403D39;
    border-radius: 50%;
    display: inline-block;
}
.loadingDots .loadOne{
    animation: 1.5s appear infinite both;
}
.loadingDots .loadTwo{
    animation: 1.5s appear infinite both;
    animation-delay: .5s;
}
.loadingDots .loadThree{
    animation: 1.5s appear infinite both;
    animation-delay: 1s;
}
@keyframes appear {
    40%,60%{
        opacity: 0.5;
    }
    0%,100%{
        opacity: 1;
    }
}
.overflowGone {
    overflow: hidden;
}
